:root {
    --white-background: #fff;
    --translucent-white-background: #d7ccc0;
    --light-background: #f5f4f0;
    --main-background: #fe8a02;
    --main-dark-background: #42413c;
    --dark-background: #2a2626;
    --translucent-dark-background: #908d8b;
    --brown-background: #b09a81;
    --blue-background: #1085c5;
    --main-color: #2A2626;
}

section {
    max-width: 1110px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.h-common {
    line-height: 1.2em;
}

.h1 {
    font-size: 72px;
}

.h2 {
    font-size: 60px;
}

.h3 {
    font-size: 34px;
}